In [4]:
d1={"Delhi": 100,"Kolkata":1500, "Mumbai":2000, "Pune": 1700}
d1.keys()

dict_keys(['Delhi', 'Kolkata', 'Mumbai', 'Pune'])

In [5]:
list(d1.keys())

['Delhi', 'Kolkata', 'Mumbai', 'Pune']

In [8]:
d1.get("Chennai",4000)

4000

In [9]:
s1={3, 4,5,1}
s2={1,2,6,4}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [11]:
s1.combine(s2)

AttributeError: 'set' object has no attribute 'combine'

In [12]:
s={2,5,7,2,8}
print(s.issubset(s))

True