In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os

In [3]:
files = os.listdir("")[-7:]
files

['uber-raw-data-may14.csv',
 'other-Federal_02216.csv',
 'uber-raw-data-janjune-15.csv',
 'uber-raw-data-aug14.csv',
 'other-American_B01362.csv',
 'other-Firstclass_B01536.csv',
 'other-FHV-services_jan-aug-2015.csv']

In [4]:
files.remove("uber-raw-data-janjune-15.csv")

In [5]:
files

['uber-raw-data-may14.csv',
 'other-Federal_02216.csv',
 'uber-raw-data-aug14.csv',
 'other-American_B01362.csv',
 'other-Firstclass_B01536.csv',
 'other-FHV-services_jan-aug-2015.csv']

In [6]:
path = ""

final = pd.DataFrame()

for file in files:
    df = pd.read_csv(path+"/"+file,encoding='unicode_escape')
    final = pd.concat([df, final])

In [7]:
final.shape

(1766648, 22)

In [8]:
df = final.copy()

In [9]:
df.head()

,Base Number,Base Name,Pick Up Date,Number of Trips,Number of Vehicles,DATE,TIME,PICK UP ADDRESS,Unnamed: 3,Unnamed: 4,...,Lat,Lon,Base,Date,Time,PU_Address,DO_Address,Routing Details,PU_Address.1,Status
0,B00013,LOVE CORP CAR INC,01/01/2015,26,17,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B00014,NY ONE CORP CAR INC,01/01/2015,45,24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B00029,COMMUNITY CAR SVC CORP,01/01/2015,731,36,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B00053,CHARGE AND RIDE INC,01/01/2015,10,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B00095,LIBERTY CAR SERVICE INC.,01/01/2015,814,62,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN