In [1]:
# Pandas

In [2]:
import pandas as pd

In [3]:
# series

In [4]:
Age = pd.Series([10, 20, 30, 40], index=["age1", "age2", "age3", "age4"])
Age

age1    10
age2    20
age3    30
age4    40
dtype: int64

In [5]:
Age.age3

30

In [6]:
Filtered_Age = Age[Age>20]
print(Filtered_Age)

age3    30
age4    40
dtype: int64

In [7]:
# calling values of the series
Age.values

array([10, 20, 30, 40])

In [8]:
# calling indices of the series
Age.index

Index(['age1', 'age2', 'age3', 'age4'], dtype='object')

In [9]:
Age.index = ["A1", "A2", "A3", "A4"]

In [10]:
Age.index

Index(['A1', 'A2', 'A3', 'A4'], dtype='object')

In [11]:
Age

A1    10
A2    20
A3    30
A4    40
dtype: int64

In [12]:
import numpy as np

In [13]:
DF = np.array([[20, 10,8], [25, 8, 10], [27, 5, 3], [30, 9, 7]])

In [14]:
Data_Set = pd.DataFrame(DF)
print(Data_Set)

    0   1   2
0  20  10   8
1  25   8  10
2  27   5   3
3  30   9   7

In [15]:
Data_Set = pd.DataFrame(DF, index = ["S1", "S2", "S3", "S4"])
print(Data_Set)

     0   1   2
S1  20  10   8
S2  25   8  10
S3  27   5   3
S4  30   9   7

In [16]:
Data_Set = pd.DataFrame(DF, index = ["S1", "S2", "S3", "S4"], columns=["Age", "Grade1", "Grade2"])
print(Data_Set)

    Age  Grade1  Grade2
S1   20      10       8
S2   25       8      10
S3   27       5       3
S4   30       9       7

In [17]:
Data_Set["Grade3"] = [9,6,7,10]

In [18]:
print(Data_Set)

    Age  Grade1  Grade2  Grade3
S1   20      10       8       9
S2   25       8      10       6
S3   27       5       3       7
S4   30       9       7      10

In [20]:
# access for label
Data_Set.loc["S2"]

Age       25
Grade1     8
Grade2    10
Grade3     6
Name: S2, dtype: int64

In [23]:
# position
Data_Set.iloc[1][3]

6

In [24]:
Data_Set.iloc[1,3]

6

In [25]:
Data_Set.iloc[:,0]

S1    20
S2    25
S3    27
S4    30
Name: Age, dtype: int64

In [26]:
Data_Set.iloc[:]

    Age  Grade1  Grade2  Grade3
S1   20      10       8       9
S2   25       8      10       6
S3   27       5       3       7
S4   30       9       7      10

In [27]:
Data_Set.iloc[:,3]

S1     9
S2     6
S3     7
S4    10
Name: Grade3, dtype: int64

In [28]:
Filtered_Data = Data_Set.iloc[:,1:3]

In [29]:
Filtered_Data

    Grade1  Grade2
S1      10       8
S2       8      10
S3       5       3
S4       9       7