In [1]:
import pandas as pd

# Split function splits a string into a list

In [2]:
# use the split function to fetch x
s = "x y z"
print(s.split(" "))
print(s.split(" ")[0]) #to fetch x

['x', 'y', 'z']
x

In [3]:
# try split function with a dataframe
data = pd.read_csv("movie.csv")

# check the head of the dataset
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# Use the split function to split the genres
data["genres"].str.split("|")

0       [Adventure, Animation, Children, Comedy, Fantasy]
1                          [Adventure, Children, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9120                          [Adventure, Drama, Romance]
9121                 [Action, Adventure, Fantasy, Sci-Fi]
9122                                        [Documentary]
9123                                             [Comedy]
9124                                        [Documentary]
Name: genres, Length: 9125, dtype: object

In [5]:
# try to split the year of release from the title of the movie
# extract year of release from the movie title
data["y"] = data["title"].str.split(" ")
data["year"] = data["y"].apply(lambda x : x[-1])

data["year"]

0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
         ...
9120     (2016)
9121     (2016)
9122     (2016)
9123     (1936)
9124    Unboxed
Name: year, Length: 9125, dtype: object

In [6]:
# strip function will remove all the leading and trailing characters from the string
data["year"] = data["year"].str.strip(")")
data["year"] = data["year"].str.strip("(")
data["year"]

0          1995
1          1995
2          1995
3          1995
4          1995
         ...
9120       2016
9121       2016
9122       2016
9123       1936
9124    Unboxed
Name: year, Length: 9125, dtype: object