# Generate a normal random distribution of order 20 x 5, with a 
# mean of 10 and standard deviation 3. Store the result in a variable. Then create a DataFrame from the data created.

In [1]:
import numpy as np
import pandas as pd

In [2]:
mean = 10
standard_deviation = 3
data = np.random.normal(loc=mean, scale=standard_deviation, size=(20,5))
df = pd.DataFrame(data, columns=list('ABCDE'), index=range(1, data.shape[0]+1))
df

            A          B          C          D          E
1    9.212903  15.671744   7.126235   6.303595   8.618962
2   11.449957   3.043170  12.623747   9.937395  13.754680
3   10.607030  10.239259  13.807567  13.475393   5.456804
4    9.821237  12.850826  13.077664   7.181488  10.814025
5    8.753805  13.763594   4.916199   2.153556  13.503085
6    8.589707  11.193204  11.142341  10.841963  10.045691
7   13.180411   6.051007  14.927494   8.575003   9.770333
8   11.712494  10.430603   9.698825   7.214539   8.730593
9    8.664337   8.579880  11.540442  16.801138   9.607880
10  13.591277   7.316960  11.847905  12.075849   8.961652
11   9.195747   7.087383   5.538000   9.473710  11.957084
12  12.634966  12.558941  11.065981  10.871140   8.521788
13  11.741907  13.895398   9.793455  15.547421   4.903427
14   9.300750  13.945967  10.617804  11.505574  10.772534
15   4.090150   9.529006   7.399887   9.126532  10.375276
16   9.372283   7.217691  10.197512  14.119289  11.111777
17   7.858430  13.100069  13.268613  15.582227   8.065891
18   7.172635  14.027286  15.230018  10.517729  15.458462
19   6.203967   8.709229   6.694885   9.190575   4.089375
20   8.120629   7.592182   9.789891   8.852003  12.661036