In [1]:
#nested_dict is a dictionary inside a dictiuonary
students_marks = {"Raiam": {"Maths": 75, "Science": 80, "English": 78},
                 "Shyam": {"Maths": 60, "Science": 65, "English": 70},
                 "Mohan": {"Maths": 80, "Science": 50, "English": 68}}
students_marks

{'Raiam': {'Maths': 75, 'Science': 80, 'English': 78},
 'Shyam': {'Maths': 60, 'Science': 65, 'English': 70},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68}}

In [2]:
#accessing values ina nested dictionary
students_marks["Mohan"]

{'Maths': 80, 'Science': 50, 'English': 68}

In [3]:
students_marks["Mohan"]["Maths"]

80

In [4]:
students_marks["Rohan"]= {}
students_marks["Rohan"]["Maths"] = 79
students_marks["Rohan"]["Sciense"] = 80
students_marks["Rohan"]["English"] = 90

students_marks["Rohan"]

{'Maths': 79, 'Sciense': 80, 'English': 90}

In [5]:
#removing item ffrom a nested dictionary
students_marks.pop("Shyam")

{'Maths': 60, 'Science': 65, 'English': 70}

In [6]:
students_marks

{'Raiam': {'Maths': 75, 'Science': 80, 'English': 78},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68},
 'Rohan': {'Maths': 79, 'Sciense': 80, 'English': 90}}

In [ ]:
#iterating through a nested dictionary
for name, subjects in students_marks.items():
    print("Name of students: ", name)
    for marks in subjects:
        print(marks, ":", subjects[marks])