#  Series (one-dimensional array) from the Pandas library can be created using the constructor:
# pd.Series (data, index, dtype, copy)
# Then, we can create Series objects from arrays, dictionaries, scalars and iterables. Based on this information, answer the following questions.
# a) From the list below create an object of type Series.
# data = ['k','w','z','y']
# Expected result:
# 0    k
# 1    w
# 2    z
# 3    y
# dtype: object

# b) From the dictionary below create an object of type Series.
# dic = {'a':10,'b':30,'c':15,'d':12}
# Expected result:
# a    10
# b    30
# c    15
# d    12
# dtype: int64

# c) Convert to a list the Series objects created previously.
# Tip: use the pandas to_list() method.

# d) Convert Series objects created in letters a) and b) to DataFrame. Enter a name for the columns. Use the pd.DataFrame() constructor.
# Expected Results:
# 	Letters
# 0	k
# 1	w
# 2	z
# 3	y
#     Values
# a	10
# b	30
# c	15
# d	12

In [1]:
import pandas as pd

In [3]:
# a
data = ['k','w','z','y']
serie1 = pd.Series(data = data)
serie1

0    k
1    w
2    z
3    y
dtype: object

In [5]:
# b
dic = {"a": 10, "b": 30, "c": 15, "d": 12}
serie2 = pd.Series(data=dic)
serie2

a    10
b    30
c    15
d    12
dtype: int64

In [8]:
# c
list1 = serie1.to_list()
list2 = serie2.to_list()
print(list1)
print(list2)

['k', 'w', 'z', 'y']
[10, 30, 15, 12]

In [9]:
df1 = pd.DataFrame(serie1, columns=["Letters"])
df1

  Letters
0       k
1       w
2       z
3       y

In [11]:
df2 = pd.DataFrame(serie2, columns=["Values"])
df2

   Letters
a       10
b       30
c       15
d       12