# Replace function: it is used to replace old values with new values

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"A": ["bat", "foo", "bait"], "B": ["abc", "bar", "xyz"]})
df

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz

In [5]:
# replace foo with "Ram"
df["A"] = df["A"].replace(("foo"),("Ram"))
df

      A    B
0   bat  abc
1   Ram  bar
2  bait  xyz

# DropLevel function: it is used to remove levels in multi level indexing

In [6]:
df = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]).set_index([0, 1]).rename_axis(["a", "b"])
df

       2   3
a b
1 2    3   4
5 6    7   8
9 10  11  12